.proposta{
    width: 100%;
    margin-bottom: 2rem;
}
.proposta h1{
    display: flex;
    justify-content: center;

    color: #fff;
    font-size: 50px;
    padding-bottom: 2rem;
    letter-spacing: 2px;
}
.proposta .container-proposta{
    margin: 0 auto;
    box-sizing: content-box;
    max-width: 1350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.proposta .container-proposta img{
    width: 450px;

}
.proposta .container-proposta .content-proposta{
    max-width: 450px;
}




section.trabalhadores{
    background-image: url(../../../assets/fundoTrabalhadores.png);
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
section.trabalhadores .containerTrabalhadores{
    max-width: 1350px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 32px 24px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
section.trabalhadores .containerTrabalhadores .titles{
    margin: 3rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section.trabalhadores .containerTrabalhadores .titles h1{
    font-size: 45px;
    text-align: center;
    color: #7830a1;
    width: 100%;
    font-weight: 600;    
}
section.trabalhadores .containerTrabalhadores .titles h1 span{
    text-decoration: underline;
}
section.trabalhadores .containerTrabalhadores .titles h2{
    font-weight: 500;
    color: #7830a1;
    margin-top: 5px;
}
/* section.trabalhadores .containerTrabalhadores .transtornos{
    margin: 1rem 0;
    width: 100%;
}
section.trabalhadores .containerTrabalhadores .transtornos .flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
} */
/* section.trabalhadores .containerTrabalhadores .transtornos .flex .box{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

 section.trabalhadores .containerTrabalhadores .transtornos .flex .box p{
    font-size: 17px;

    width: auto;
} 
section.trabalhadores .containerTrabalhadores .transtornos img{
    width: 450px;
} */

section.trabalhadores .containerTrabalhadores .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    /* border-bottom: 2px solid #7830a1; */
    padding-bottom: 3rem;
}
section.trabalhadores .containerTrabalhadores .cards .card{
    color: #7830a1;
    padding: 10px;
    width: 25%;
    min-height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    text-align: center;
    box-shadow: 5px 4px 10px #00000036;
    font-size: 19px;
    transition: .3s;
}
section.trabalhadores .containerTrabalhadores .cards .card:hover{
    transform: scale(1.08);
}



section.trabalhadores .containerTrabalhadores .containerFlexEnquete{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
}

section.trabalhadores .containerTrabalhadores .flexEnquete{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
section.trabalhadores .containerTrabalhadores .flexEnquete .text{
    width: 38%;
}
section.trabalhadores .containerTrabalhadores .flexEnquete .text h1{
    color: #3d035f;   
    font-size: 42px;
    margin-bottom: 1rem;
}
section.trabalhadores .containerTrabalhadores .flexEnquete .text p{
    color: #7830a1;
    font-size: 18px;
    text-align: justify;
}
section.trabalhadores .containerTrabalhadores .flexEnquete .text p li::marker{
    color: #7830a1;
    font-size: 20px;
}
section.trabalhadores .containerTrabalhadores .flexEnquete .text p span{
    font-weight: 700;
}
section.trabalhadores .containerTrabalhadores .flexEnquete img{
    width: 530px;
}




section.trabalhadores .containerTrabalhadores .containerForm{
    max-width: 600px;
    padding: 2rem 0 0;
}
section.trabalhadores .containerTrabalhadores .containerForm h1{
    text-align: center;
    font-size: 22px;
    margin-bottom: 2rem;
    color: #240028;
    font-weight: 400;
}
section.trabalhadores .containerTrabalhadores .containerForm h1 span{
   
    color: #000;
    padding: 0 5px;
    font-weight: bold;
}
section.trabalhadores .containerTrabalhadores .containerForm form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #7830a1;
    padding: 2rem;
    border-radius: 5px;
}
section.trabalhadores .containerTrabalhadores .containerForm form img{
   width: 200px;
}
section.trabalhadores .containerTrabalhadores .containerForm form .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.trabalhadores .containerTrabalhadores .containerForm form .box{
    display: flex;
    flex-direction: column;
}
section.trabalhadores .containerTrabalhadores .containerForm form .box label{
    color: #fff;
    font-weight: 500;
    margin-bottom: 10px;
}
section.trabalhadores .containerTrabalhadores .containerForm form .box input{
    border: none;
    padding: .5rem;
    outline: none;
    font-size: 19px;
    border-radius: 5px;
    box-shadow: 5px 4px 10px #0000002f;
}
section.trabalhadores .containerTrabalhadores .containerForm form input[type="submit"]{
    width: auto;
    margin: 0 auto;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #fff;
    color: #7830a1;
    font-weight: 500;
    margin-top: 1rem;
    padding: 4px 1rem;
    border-radius: 5px;
    cursor: pointer;
}
@media (max-width:970px){
    section.trabalhadores .containerTrabalhadores .flexEnquete:nth-child(1){
        flex-direction: column-reverse;
    }
    section.trabalhadores .containerTrabalhadores .flexEnquete{
        flex-direction: column;
    }
    section.trabalhadores .containerTrabalhadores .flexEnquete .text{
        width: 100%;
    }
    section.trabalhadores .containerTrabalhadores .flexEnquete img{
        width: 100%;
    }
    .proposta .container-proposta{
        flex-direction: column;
    }
    .proposta .container-proposta .content-proposta{
        max-width: 100%;
        width: 100%;
    }
    .proposta .container-proposta img{
        width: 100%;
    }
}
@media (max-width:650px){
    section.trabalhadores .containerTrabalhadores .transtornos .flex .box .wrap{
        width: 100%;
    }
    section.trabalhadores .containerTrabalhadores .transtornos .flex .box p{
        width: 100%;
        margin: 1rem 0;
    }
    section.trabalhadores .containerTrabalhadores .cards{
        flex-direction: column;
        justify-content: center;
    }
    section.trabalhadores .containerTrabalhadores .cards .card{
        width: 100%;
    }
    section.trabalhadores .containerTrabalhadores .titles h1{
        font-size: 32px;
        width: 100%;
    }
    section.trabalhadores .containerTrabalhadores .titles h2{
        font-size: 19px;
    }
    section.trabalhadores .containerTrabalhadores .transtornos img{
        width: 100%;
    }
}