header{
    background-color: #7830a1;
    transition: background-color 0.3s ease;
}
header.transparent {
    background-color: #000;
  }

header .container-header{
    max-width: 1350px;
    padding: 24px;
    margin: 0 auto;
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container-header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container-header .active-link{
    color: #bdbdbd;
}
header .container-header img{
    width: 140px;
}
header .container-header nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
header .container-header nav ul li{
    list-style: none;
    text-align: center;
}
header .container-header nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: .2s;
    
}
header .container-header nav ul li a:hover{
    opacity: .8;
}
header .container-header nav ul span{
    width: 1px;
    height: 20px;
    background-color: #fff;
}
.btnSim{
    display: none;
}

.container-hamburguer{
   display: none;
}
.hamburguer{
    cursor: pointer;
}
.bar{
    display: block;
    width: 1.8rem;
    height: 3px;
    margin: 5px auto;
    transition: .3s ease-in-out;
    background-color: #fff;
    border-radius: 6px;
}
@media (max-width:1250px) {
    .btnSim{
        display: block;
    }
    .btnNao{
        display: none;
    }
    header .container-header nav{
        position: fixed;
        right: 0;
        top: 155px;
        background-color: #7830a1;
        z-index: 999;
        padding: 1rem;
        border-radius: 20px 0 0 20px;
        transform: translateX(100%);
        transition: ease-in-out .3s;
        overflow: hidden;
        box-shadow: 0px 1px 12px #000;
    }
    header .container-header nav.active{
      transform: translateX(0);
    }
    header .container-header nav span{
      display: none;
    }
    header .container-header nav ul{
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }
    header .container-hamburguer{
        display: block;
        position: relative;
       z-index: 2;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
        background-color: #000;
    }
    .hamburguer.active .bar:nth-child(1){
       transform: translateY(8px) rotate(45deg);
       border-radius: 5px;
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        border-radius: 5px;
     }
   
}