section.form{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    position: relative;
}
section.form form{
    max-width: 650px;
    margin: 0 auto;
    padding: 1rem 2rem;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 20px;
}
section.form form .box{
    display: flex;
    flex-direction: column;
}
section.form form .box label{
    margin:2rem 0 .2rem ;
    font-size: 21px;
    color: #5e008e;
}
section.form form .box label.dia{
    font-size: 18px;
}
section.form form .box input{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.491);
    font-size: 17px;
}
section.form form .box input[type="radio"],
section.form form .box input[type="checkbox"]{
    margin-right: 10px;
}
section.form form .box select{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.491);
    font-size: 17px;
    width: 100%;
}
section.form form .box textarea{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.491);
    font-size: 17px;
}
section.form form input.button{
    background-color: #5e008e;
    color: #fff;
    border: none;
    outline: none;
    padding: .5rem 2rem;
    font-size: 19px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
section.form form .buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}
section.form form sup{
    color: red;
}

/* Tela de carregamento */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Garante que a tela de loading fique sobre tudo */
  }
  
  .loading-spinner {
    font-size: 20px;
    color: white;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 5px;
    border: 2px solid white; /* Adiciona borda para visibilidade */
  }
  
  