footer{
    background-color: #343434;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    text-align: center;
}
footer img{
    width: 200px;
}
footer p{
    color: #fff;
}