section.form{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}
section.form form{
    max-width: 650px;
    margin: 0 auto;
    padding: 1rem 2rem;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 20px;
}
section.form form .box{
    display: flex;
    flex-direction: column;
}
section.form form .box label{
    margin: 1rem 0 .2rem ;
    font-size: 22px;
    color: #5e008e;
}
section.form form .box input{
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 10px;
    border-bottom: 1px solid rgba(122, 122, 122, 0.491);
}