section.surgiu{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 8rem 0 ;
    background-color: #7830a1;
    box-shadow: -3px 20px 10px 5px #7830a1;
    z-index: 10;
}
section.surgiu img.absolut{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 110px;
    opacity: .1;
}
section.surgiu img.absolut2{
    position: absolute;
    bottom: 0px;
    left: -200px;
    width: 400px;
}
section.surgiu img.absolut3{
    position: absolute;
    bottom: 100px;
    left: 0px;
    width: 100px;
    opacity: .1;
}
section.surgiu .containerSurgiu{
    max-width: 1350px;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 0 24px;
    display: flex;
    justify-content:center;
    align-items: center;
}
section.surgiu .containerSurgiu img{
    width: 480px;
}
section.surgiu .containerSurgiu .right{
    width: 37%;
    position: relative;
}
section.surgiu .containerSurgiu .right img{
    position: absolute;
    top: -68px;
    left: -78px;
    width: 125%;
    height: 120%;
    z-index: -1;

}
section.surgiu .containerSurgiu .right h1{
    font-size: 55px;
    color: #fff;
    
}
section.surgiu .containerSurgiu .right p{
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    margin: 10px 0 50px ;

}
section.surgiu .containerSurgiu .right p span{
    font-weight: bold;
}
section.surgiu .containerSurgiu .right p span.orange{
    color: #FFB0A1;
    font-style: italic;
}
@media (max-width:950px){
    section.surgiu .containerSurgiu{
        flex-direction: column;
    }
    section.surgiu .containerSurgiu .right{
        width: 100%;
        text-align: center;
    }
    section.surgiu .containerSurgiu .right img{
        width: 100%;
        left: 0;
    }
    section.surgiu .containerSurgiu img{
        width: 100%;
    }
    section.surgiu img.absolut2,
    section.surgiu img.absolut3{
        display: none;
    }
}
@media (max-width:550px){
    section.surgiu .containerSurgiu .right img{
        display: none;
    }
    section.surgiu .containerSurgiu .right{
        background-color: #56338f;
        padding: 10px;
        border-radius: 20px;
    }
    section.surgiu .containerSurgiu .right p{
        margin: 0;
    }
}