section.apresentacao{
    background-image: url(../../assets/bgApresentacao.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    width: 100%;
  
}
section.apresentacao img.absolut{
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 38%;
}
section.apresentacao .containerApresentacao{
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: content-box;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 87vh;
    position: relative;
}
section.apresentacao .containerApresentacao .boxText{
    position: relative;
}
section.apresentacao .containerApresentacao .boxText .titles{

    display: inline-block;
}
section.apresentacao .containerApresentacao .boxText .titles h1{
    font-size: 82px;
    line-height: 75px;
    color: #7830a1;
    
}
section.apresentacao .containerApresentacao .boxText .titles h2{
    font-size: 32px;
    color: #7830a1;
    margin-top: 1rem;
}
section.apresentacao .containerApresentacao .boxText p{
    width: 50%;
    font-size: 23px;
    margin: 1rem 0;

    color: #373737;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
}
section.apresentacao .containerApresentacao .boxText p>span{
    font-weight: bold;
}
section.apresentacao .containerApresentacao .boxText a{
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    color: #7830a1;
    font-weight: 500;
    border: .3px solid #7830a1;
}
section.apresentacao .containerApresentacao img.block{
    display: none;
}
@media (max-width:980px) {
    section.apresentacao img{
        width: 400px;
    }
    section.apresentacao .containerApresentacao .boxText .titles h1{
        font-size: 67px;
    }
    section.apresentacao .containerApresentacao .boxText .titles h2{
        font-size: 26px;
    }
    
    section.apresentacao .containerApresentacao .boxText p{
        font-size: 16px;
    }
}
@media (max-width:650px){
    section.apresentacao img.absolut{
        width: 400px;
        display: none;
    }
    section.apresentacao .containerApresentacao{
        min-height: 100vh;
        height: auto;
        align-items: start;
    }
    section.apresentacao .containerApresentacao{
        padding-top: 5rem;
        flex-direction: column;
        justify-content: space-between;
    }
    section.apresentacao .containerApresentacao img.block{
        width: 300px;
        display: block;
    }
    section.apresentacao .containerApresentacao .boxText p{
        width: 80%;
    }
}
@media (max-width:420px){
    section.apresentacao .containerApresentacao .boxText .titles h1{
        font-size: 55px;
        line-height: 49px;
    }

}